.color-navbar {
background: linear-gradient(90deg, #F0F4F8 -19%, #62CBEA , #B0BEC5 , #E5E5E5 , #ABB2BF 240% );
}

.color-texto-marca {
  color: #1e3d87 !important;
}

.margen-superior-main {
  margin-top: 60px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: 	#3EC1D3;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: #3EC1D3;
}
/* Animacion de los botones */
.btn-animado {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn-animado:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* Animacion de las lineas de la tabla */
.table-hover tbody tr:hover {
  transform: scale(1.0);
  background-color: #e6f2ff !important;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

body {
  background: linear-gradient(90deg,#F0F4F8 -15%, #62CBEA  , #62CBEA , #B0BEC5 , #E5E5E5 150% );
}

.card-animada {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-animada:hover {
  transform: scale(1.05); /* Leve aumento en tamaño */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  cursor: pointer;
}








